<div id="table" >

    <div class="container">

        {% include 'partial/block-title.twig' %}

        {% include 'partial/block-intro.twig' %}

        <div class="content-block">

            <div class="generate_table">

                {{ block.generate_table }}

            </div>

        </div>

    </div>

</div>

