<div id="table" >

    <div class="container">

        {% include 'blocks/block-title.twig' %}

        <div class="content-block">

            <div class="generate_table">

                {{ block.generate_table }}

            </div>

        </div>

    </div>

</div>

