<div id="quote">

    <div class="container">

	{% include 'partial/block-title.twig' %}

    <h3>&quot; <span style="display: inline;">{{ block.quote|striptags }}</span>&quot;</h3>

    <h4>– {{ block.attribution }}</h4>

    <p><br></p>

    </div>

</div>
