<div id="wysiwyg">

    <div class="container">

		{% include 'blocks/block-title.twig' %}

        <div class="content-block">

		    <div class="wysiwyg block-{{ anchor|sanitize }}">

		        {{ block.wysiwyg }}

		    </div>

    	</div>

    </div>

</div>
