.chevron::before {
	border-style: solid;
	border-width: 6px 6px 0 0;
	content: '';
	display: inline-block;
	height: 35px;
	width: 35px;
    left: 10px;
	top: -1.5em;
	position: relative;
	transform: rotate(-45deg);
	vertical-align: top;
}

.chevron.right:before {
	transform: rotate(45deg);
}

.chevron.bottom:before {
	transform: rotate(135deg);
}

.chevron.left:before {
	transform: rotate(-135deg);
}

.card.is-active {
		span.chevron.bottom.accordian {
    	transform: rotate(180deg);

		}
	}

span.chevron.bottom.accordian {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 22px;
    margin-top: 2px;
    left: auto;
    background: none !important;
    &:before {
		height: 28px;
		width: 28px;
		border-width: 5px 5px 0 0;
	}
}