.readmore {
    height: 0;
    overflow: hidden;
    &.reveal-text {
        display: inline;
    }
}

#page-wrapper {
    width: 100%;
    position: relative;
}

#content {
    position: relative;
    padding: 80px 0;
    min-height: 670px;
    @include mq($max-width: $sm) {
        padding: 70px 0 10px;
    }
}

.bulleted-list {
    li {
        list-style: none;
        font-size: 18px;
        letter-spacing: 0px;
        font-weight: 500;
        color: #333;
        padding: 6px 0;
        border-bottom: 1px solid #ddd;
        &:last-child{
            border-bottom: 0px solid #ddd;
        }
    }
}

ul.list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.showmore {
    display: none;
    &.reveal-posts {
        display: block;
    }
}

a.show-more {
    display: inline-block;
    padding: 0;
    span {
        font-family: $sans-medium;
        margin-left: 5px;
    }
}

a.show-all {
    display: inline-block;
    padding: 0;
    z-index: 9;
    position: relative;
}

form .form-row {
    padding: 0;
    margin: 0 0 10px;
}


.modal-dialog {
    max-width: 800px;
}

.modal-body {
    display: inline-grid;
    padding: 1em 3em 2em;
}

.modal-content {
    color: #232323;
}

h2.page-title {
    span {
        font-family: $sans-book;
        text-transform: uppercase;
        font-size: 20px;
        opacity: .75;
    }
}

.jumbotron {
    border-radius: 0;
    color: #232323;
    padding: 2rem 2rem;
}

.list-group-item {
    position: relative;
    padding: 13px 0px 12px 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    border-radius: 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;

    &.active {
        font-weight: 900;
        z-index: 2;
        color: #fff;
        background-color: $brand;
        border-color: $brand;
    }

}

.tab-content{
    background: transparent;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    @include mq($max-width: $sm) {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
    }

    h5 {
        font-weight: 600;
        line-height: 1.45;
        font-size: 16px;
    }

    p {
        font-weight: normal;
        font-size: 16px;
    }

}

.content {
    z-index: 9;
    position: relative;
    img {
        max-width: 100%;
        height: auto;
    }
}

.content-block {
    margin: 0;
    padding: 0px 0 40px;
    position: relative;
    z-index: 2;
    img {
        max-width: 100%;
        height: auto;
    }
}



section {
    padding-top: 40px;
    position: relative;
}

.event-details {
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: #fff;
    position: absolute;
    padding: 15px 20px;
    bottom: 0;
    transition: all ease .3s;
    opacity: 1;

    &.showNav {
        transform: translateX(300px);
        width: calc(100% - 300px);
    }
    h4 {
        margin-bottom: 0;
    }

    &.fixed {
        position: fixed;
        &.unstick {
            bottom: -100px;
            opacity: 0;
        }
    }

    @include mq($max-width: $sm) {
        position: relative;
        min-width: 320px;
    }

    @media ( max-height: 768px ){
        bottom: 0;
        position: relative;
        padding-top: 120px;
    }

}

h2 {
    &.section-title {
        font-size: 40px;
        z-index: 1;
        position: relative;
        display: inline-block;
        //color: $secondary;
    }
}

p {
    font-family: 'Conv_Gotham-Book';
    letter-spacing: 0;
    font-size: 20px;
}

.bkg-color {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.bkg-img {
    z-index: 0;
}

.text-overflow {
  width:250px;
  height:120px;
  display:block; 
  overflow:hidden;
  word-break: break-word;
  word-wrap: break-word;
}

.badge-primary {
    color: #fff;
    background-color: #0abb0a;
    padding: 5px 13px;
    margin: 10px auto 20px;
    display: table;
}

a.read-more {
    font-weight: 500;
    font-size: 16px;
    top: 8px;
    text-decoration: underline;
    position: relative;
    &:active, &:hover {
        text-decoration: underline;
    }

}

a.read-more.reveal {
    font-weight: 500;
    font-size: 16px;
    top: 8px;
    text-decoration: underline;
    position: relative;
    &:active, &:hover {
        text-decoration: underline;
    }
}

img.alignright {
    float: right;
}

img.alignleft {
    float: left;
}

.rsDefaultInv .rsBullets {
    position: absolute;
    bottom: -25px;
}

.page-template-template-lookbook #content{
    padding: 80px 0 0;
}

.cspio h1 {
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include mq($max-width: $sm) {
        font-size: 36px;
    }
}

#cspio-content{
    @include mq($max-width: $sm) {
        padding: 10px;
    }
}

#cspio-page{
    text-align: center;
}

ul.sub-menu.wpmenucart {
    background: #fff;
    position: absolute;
    right: 0;
    width: 330px;
    padding: 10px;
}

nav.top-menu{
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li{
        float: left;
    }
    .wpmenucart {
        text-align: left;
    }
    .wpmenucart-thumbnail img{
        width: 50px;
    }
}

article {
    // background: #fff;
    // padding: 10px;
    // min-height: 300px;
    p {
        font-size: 18px;
    }
}

ul.social{
    float: right;
    padding: 0;
    margin: 0 0 0 0;
    @include mq($max-width: $sm) {
        float: none;
        margin: 20px 0 0 0;
    }
    li{
        list-style: none;
    }
}

h2.heading{
    color: $secondary;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.sub-footer{
    font-size: 12px;
    padding: 5px 0;
    color: #aaa;
    background: $nyu-dark-violet;
}

#content{
    background-color: transparent;

    h3{
        margin-top: 0;
        margin-bottom: 20px;
        @include mq($max-width: $sm) {
            margin-top: 25px;
        }
    }

    p{
        //font-size: 20px;
    }

}

#agenda {

    table {

        margin-bottom: 60px;

        p {

            font-size: 1rem;

        }

    }

    .table-hover tbody tr.header {
        background-color: rgba(0, 0, 0, 0.0);
        p {
            font-size: 18px;
        }
    }

    .table-hover tbody tr {
        background-color: rgba(0, 0, 0, 0.1);
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .table-hover tbody td {
            border-top: 0;
            border-bottom: 1px solid #ddd;
    }

    .table-hover tbody tr.header:hover {
        background-color: rgba(0, 0, 0, 0.0);
    }

    tr.header {

        td {
            border-top: 0;
            padding: 60px 10px 0;

            &:first-child {

                padding: 60px 0px 0;

                p {
                    font-size: 20px;
                }

            }

        }

    }

}

#contact{
    padding: 20px 0;
    a {
        color: #0d90cc;
    }
    .right-menu{
        padding: 16px 0 0;

        a{
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 16px;
            /* color: #000; */
            border: 3px solid $brand;
            border-radius: 4px;
            padding: 4px 10px 2px;
            transition: all .2s;
            background: $brand;
            color: #fff;
            // &:hover,
            // &:focus {
            //     background: transparent;
            //     color: $brand;
            // }

            @include mq($max-width: $sm) {
                font-weight: 500;
                letter-spacing: 0px;
                font-size: 20px;
            }

        }

        @include mq($max-width: $sm) {
            padding: 15px 0 10px;
        }

    }

}

.rsContent h1{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $brand;
    &.j-drain{
        color: #fff;
    }
    &.servane{
        color: #6da6ff;
    }
}

.nav-link {
    padding: 0;
    margin: 0;
}

.nav-pills {
    padding: 0;
    margin: 0;
    &.active{
        // background: transparent;
        color: $brand;
    }
    @include mq($max-width: $sm) {
        padding: 5px 0 10px;
    }
    .dropdown-menu{
        background: $brand;
        border: 0;
        border-radius: 6px;
        padding: 10px;
        margin-top: 18px;
        text-transform: initial;

        > a.dropdown-item {
            letter-spacing: 0;
            padding: 10px;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            border-radius: 6px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($max-width: $sm) {
                font-size: 14px;
            }

            &:hover{
                background: $navy;
            }
        }

        &:before{
            content: "";
            position: absolute;
            top: -13px;
            right: 70px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $brand;

            @include mq($max-width: $sm) {
                right: 30px;
            }
        }
    }
}


nav.nav-desktop{
    img{
        max-width: 20px;
        height: auto;
        position: relative;
        top: -3px;
        margin-right: 10px;
    }
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {

        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        float: left;
        text-transform: uppercase;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    a {
        color: #fff;
        &:hover{
            color: #f2f2f2;
        }
    }
}


.contact-hero {
    background: rgba(255, 255, 255, 0.51);
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 20px;
    border-radius: 4px;
    h2{
        margin: 0;
        padding: 0;
    }
}


.article-body a.register-button {
    background-color: #7bc143;
    border: 1px solid #73b240;
    border-top-width: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: -moz-inline-block;
    display: inline-block;
    zoom: 1;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1em;
    text-shadow: 0 1px 1px #519a14;
    padding: 14px 15px;
    margin-bottom: 10px;
    float: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background: darken(#7bc143, 15%);
    }
}


#single {
    padding: 100px 0 50px;
    background: #fff;

    #content{
        background-color: transparent;
        padding: 25px 0 0;
    }

    p{
        line-height: 1.5;
    }
}


#about-event{
    padding: 50px 0;
    background: #eaecef;
    #content{
        background-color: transparent;
        padding: 25px 0 0;
    }
    p{
        line-height: 1.5;
    }
}


#about-us{
    background: #fff;
    padding: 50px 0;
}

#about-cybersecurity {
    padding: 50px 0;
    background: #eaecef;
}


.post{
    margin-top: 10px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    .contain {
        margin-top: 20px;
    }
    .col-alt-content{
            min-height: 500px;
            overflow: hidden;
    }
    .col-alt-image{
        img{
            max-width: 100%;
            height: auto;
            max-height: 500px;
            overflow: hidden;
        }
    }
}

.logo-overlay {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: .4;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-blend-mode: overlay;
}

#headpad{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
}

#headpad.padding {
    padding-right: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.scrolltoggle.scrollpadding {
    margin-top: 200px;
}


select.custom-select {
    background: #fff;
    @include mq($max-width: $sm) {
        background: #fff;
    }
}

.scroll-fix {
    background-attachment: fixed !important;
    @include mq($max-width: $sm) {
        background-attachment: scroll !important;
    }
}

.about-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    text-align: center;
    width: 300px;
    padding: 10px 0 0;
    &.withevent {
        bottom: 100px;
        @include mq($max-width: $sm) {
            bottom: 40px;
        }
        @media ( max-height: 768px ){
            visibility: hidden
        }
    }
    h3 {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 3px;
        font-weight: 500;
        margin-bottom: 13px;
        font-family: $sans-book;
    }
}

.chevron{
    top: 10px;
    left: -8px;
    position: relative;
    transition: all .2s;
    @include mq($max-width: $xs) {
        top: 3px;
    }
    &:hover{
        top: 15px;
    }
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.full_height {
    height: calc(100vh - 41px);
    @include mq($max-width: $sm) {
        height: 100%;
    }
}

#accordion.card .card-header {
    content: '';
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    float: right;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 60px 20px;
}

.navbar-toggler {
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}


