#wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height:100%;
    position:relative;
    transform: translateX(0);
    transition: .3s ease all;
}

#menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: $nyu-dark-violet;
    color: white;
    z-index: 9;
}

#wrapper.showNav #canvas {
    transform: translateX(300px);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 300px;
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 0;
    @include mq($max-width: $xs) {
        width: 240px;

    }
    h4 {
        color: #fff;
        font-weight: 900;
        padding: 3px;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    hr {
        background: #fff;
        border-width: 2px;
    }
    ul {
        line-height: 40px;
        list-style: none;
        margin: 0;
        padding: 15px 0;
    }
    li {
        line-height: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            display: block;
            font-weight: 900;
            text-decoration: none;
            color: #fff;
            letter-spacing: 0px;
            margin: 10px 15px;
            transition: all 0.2s;
            font-family: 'Conv_MercuryDisplay-Semibold';
            font-size: 24px;
            &:hover,&:active,&:focus {
                text-decoration: none;
                color: #fff;
                background: #9A69BA;
            }
        }
    }
    .header-mob {
        background: #000;
        padding: 0;
    }
    .logo-mob {
        a {
            margin: 0
        }
        img {
            float: left;
            margin: 0 8px 0 0;
        }
    }
}



