html, body {
    font-size: 1rem;
    font-family: 'Conv_Gotham-Book';
}

body{
    // background: darken($brand, 15%) url('../images/bkg_pattern.svg') fixed;
    // background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: $secondary;
    cursor: pointer;
    &:hover{
        color: lighten($secondary, 15%);
        text-decoration: none;
        cursor: pointer;
    }
    &:focus{
        color: lighten($secondary, 15%);
        //text-decoration: none;
        outline: none;
    }
    &:active{
        color: lighten($secondary, 15%);
        //text-decoration: none;
    }
}


h1, h2, h3 {
    font-family: $serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h4, h5, h6 {
    font-family: 'Conv_Gotham-Medium';
    text-transform: uppercase;
    font-size: 120%;
    opacity: .75;
}

h1{
    font-size: 50px;
    @include mq($max-width: $sm) {
        font-size: 36px;
    }
}

h2 {
    font-weight: 700;
    letter-spacing: 0px;
    @include mq($max-width: $sm) {
        font-size: 28px;
    }
}