#menu-toggle-open {
    position: absolute;
    right: 22px;
    top: 20px;
}

.hamburger{
    position: absolute;
    right: auto;
    left: 0px;
    top: 6px;
    padding: 5px 10px 0px;
    transition: all .3s;
    &:hover {
        opacity: 1;
            transition: all .3s;

    }
    .single &, .page &, .archive &, .error404 & {
        padding: 7px 10px 0;
        top: 4px;
    }

    .hamburger-box {
        width: 45px;
        height: 30px;
        @include mq($max-width: $sm) {
        }
        .single &, .page &, .archive &, .error404 & {
            width: 35px;
            height: 21px;
        }
    }


    // @include mq($max-width: $xl) {
    //     right: 22px;
    //     padding: 0;
    // }

    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
        background-color: #fff;
        width: 45px;
        height: 5px;
        border-radius: 0;
        transition: all .3s;
        @include mq($max-width: $sm) {
        }
        .single &, .page &, .archive &, .error404 & {
            background-color: #fff;
            width: 35px;
            height: 3px;
        }
    }
    .hamburger-inner::after {
        bottom: -12px;
        .single &, .page &, .archive &, .error404 & {
            background-color: #fff;
            bottom: -9px;
        }
    }

    .hamburger-inner::before {
        top: -12px;
        .single &, .page &, .archive &, .error404 & {
            background-color: #fff;
            top: -9px;
        }
    }
}

.socialmedia {

    .fa-inverse {
        color: #fff;
    }

    i.fa.fa-stack-1x.fa-inverse {
        line-height: 2.21;
    }

}

.fa-stack {
    color: transparent;
    transition: all .3s;
    &:hover {
        color: $brand;
    }
}
.fa-stack-2x {
    font-size: 2em;
    border: 2px solid #fff;
    border-radius: 50%;
}

header.banner {

    &.shrink{

        .hamburger{
            padding: 7px 10px 0;
            top: 4px;
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #fff;
            width: 35px;
            height: 3px;
            @include mq($max-width: $sm) {
                width: 35px;
            }
        }

        .hamburger .hamburger-box {
            width: 35px;
            height: 21px;
            @include mq($max-width: $sm) {
                width: 35px;
            }
        }

        .hamburger-inner::after {
            bottom: -9px;
        }

        .hamburger-inner::before {
            top: -9px;
        }

    }
    .hamburger--squeeze .hamburger-inner {
        transition: all .3s;

    }
    .hamburger--squeeze .hamburger-inner::before {
        transition: all .3s;

    }
    .hamburger--squeeze .hamburger-inner::after {
        transition: all .3s;

    }
    .hamburger--squeeze.menu-hover .hamburger-inner, .hamburger.hamburger--squeeze.is-active .hamburger-inner{
        background-color: lighten(#fff, 15%);
        transition: all .3s;

    }
    .hamburger--squeeze.menu-hover .hamburger-inner::before, .hamburger.hamburger--squeeze.is-active .hamburger-inner::before {
        background-color: lighten(#fff, 15%);
        transition: all .3s;

    }
    .hamburger--squeeze.menu-hover .hamburger-inner::after, .hamburger.hamburger--squeeze.is-active .hamburger-inner::after {
        background-color: lighten(#fff, 15%);
        transition: all .3s;

    }
    .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
    }
    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
    }
}