// .showalert {
//     height: 42px;
//     transition: .2s all;
//     &.hide {
//         height: 0;
//         overflow: hidden;
//     }
//     .alert {
//         &.show {
//             height: 42px;
//             &.hide {
//                 height: 0;
//                 overflow: hidden;
//             }

//         }

//     }

// }


.alert {
    // display: none;
    position: absolute;
    min-width: 350px;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 99;
    padding: 10px;
    border: 0;
    border-radius: 0;
    background-color: #000;
    border-radius: 0;
    font-weight: 700;
    transition: .3s ease all;
    &.showNav {
        transform: translateX(300px);
        width: calc(100% - 300px);
        @include mq($max-width: $sm) {
            width: 100%;
        }
    }
    a {
        color: $brand;
    }
    // &.show {
    //     display: inline-block;
    // }
}

.alert-dismissible .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    color: inherit;
}

header.banner {
    z-index: 99;
    position: fixed;
    top: 0;
    //transform: translateY(0);
    background-color: transparent;
    height: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    transition: .3s ease all;
    // transition: background-color .2s linear;
    @include mq($max-width: $sm) {
        height: 65px;
    }

    .single &, .page &, .archive &, .error404 & {
        transition: .3s ease all;
        height: 44px;
        background: $brand;
        position: relative;

        .inner-header {
            position: relative;
            top: 0;
            transition: .2s all;

            &.alert-closed {
                top: 0px;
            }
        }

        &.if_alert {
            top: 42px;
            &.shrink {
                //transform: translateY(0);
                .logo{
                    img{
                        //transform: translateY(0);
                    }
                }
            }
            .inner-header {
                top: 0;
                &.shrink {
                    //transform: translateY(0);
                    .logo{
                        img{
                            //transform: translateY(0);
                        }
                    }
                }
            }
        }
        &.shrink{
            top: 0;
        }
    }

    .inner-header {
        position: relative;
        top: 0;
        transition: .2s all;

        &.alert-closed {
            top: 0px;
        }
    }

    &.if_alert {
        .inner-header {
            top: 42px;
            &.shrink {
                //transform: translateY(0);
                .logo{
                    img{
                        //transform: translateY(0);
                    }
                }
            }
        }

    }

    &.shrink{
        top: 0;
        //transform: translateY(0);
        height: 42px;
        background-color: $brand;
        @include mq($max-width: $sm) {
            transform: translateX(0);
        }

        .alert-closed {

        }

        .inner-header {
            top: 0;
        }

        &.if_alert {
            .site-title {
                //transform: translateY(0);
            }
        }

        .site-title {
            //left: 0px;
            //transform: translateY(0);

        }


        h1{
            color: #FFF;
            font-size: 32px;
            left: 70px;
        }

        .nav-desktop {
            position: relative;
            top: 18px;
        }

        .logo {

            img{
                max-width: 220px;
                top: 3px;
                right: 15px;
            }
        }

        .right-menu{
            padding: 16px 30px 0;

            a{
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 16px;
                /* color: #000; */
                border: 3px solid $brand;
                border-radius: 4px;
                padding: 4px 10px 2px;

                background: $brand;
                color: #fff;
                // &:hover,
                // &:focus {
                //     background: transparent;
                //     color: $brand;
                // }

                @include mq($max-width: $sm) {
                    font-weight: 500;
                    letter-spacing: 0px;
                    font-size: 12px;
                }

            }

            @include mq($max-width: $sm) {
                padding: 15px 0 10px;
            }

        }
    }

    .logo{
        img{
            max-width: 260px;
            text-align: left;
            transition: all .1s;
            right: 20px;
            top: 7px;
            position: absolute;
            @include mq($max-width: $sm) {
                max-width: 215px;
                right: 10px;
                top: 10px;
                position: absolute;
            }

            .single &, .page &, .archive &, .error404 & {
                max-width: 220px;
                top: 3px;
            }
        }
    }


    &.showNav {
        transform: translateX(300px);
        width: calc(100% - 300px);
        @include mq($max-width: $sm) {
            width: 100%;
        }
    }

    .site-title {
        color: #fff;
        position: relative;
        left: 10px;
        @include mq($max-width: $sm) {
            top: 1px;
            left: 3px;

        }
        .single &, .page &, .archive &, .error404 & {
            top: 0px;
        }
    }

    h1{
        color: #FFF;
        font-size: 42px;
        transition: all .2s;
        letter-spacing: -1px;
        padding: 0;
        position: relative;
        text-align: left;
        left: 80px;
        float: left;
        top: 5px;
        text-transform: uppercase;
        font-family: 'Conv_Gotham-Medium';
        letter-spacing: -1px;
        .single &, .page &, .archive &, .error404 & {
            font-size: 32px;
            left: 70px;
        }
        // &:before {
        //     content: "";
        //     display: inline-block;
        //     height: 26px;
        //     width: 2px;
        //     bottom: -1px;
        //     background: #FFF;
        //     position: relative;
        //     right: 20px;
        // }
    }

    .nav-desktop {
        position: relative;
        top: 30px;

    }

    .btn{
        padding: 0 1.5rem 0;
        @include mq($max-width: $xs) {
            padding: 0.8rem 1.5rem 0;
        }
    }

    .right-menu{
        padding: 23px 30px 0;
        a{
            font-weight: 700;
            letter-spacing: 3px;
            font-size: 20px;
            /* color: #000; */
            border: 3px solid $brand;
            border-radius: 4px;
            padding: 4px 10px 2px;

            &:hover, &:focus{
                background: $brand;
                color: #fff;
            }
            @include mq($max-width: $sm) {
                font-weight: 500;
                letter-spacing: 0px;
                font-size: 20px;
            }

        }
        @include mq($max-width: $sm) {
            padding: 15px 0 10px;
        }

    }
}

