
{% if block.file_download %}

    {% for download in block.file_download %}
    <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-4">
            <div class="content-block-download">

            <h3>{{ download.title }}</h3>

            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="content-block-download">
                {{ download.description }}
                <a href="{{ download.file.url }}" class="btn download" target="_blank" download> <i class="icon-in"></i> DOWNLOAD</a>
            </div>
        </div>

        <div class="spacer"></div>

    </div><!-- /.row -->
    {% endfor %}

{% endif %}


