{% if block.generate_table %}

    <div class="generate_table">

        {% set tables = block.generate_table %}

        {% if tables %}

        <table border="0">

        {% if tables['header'] %}

            {% for th in tables['header'] %}

            <th>
                {{ th['c'] }}
            </th>

            {% endfor %}

        {% endif %}

        {% if tables['body'] %}

            {% for tr in tables['body'] %}

            <tr>

                {% for td in tr %}

                <td>

                {{ td['c'] }}

                </td>

                {% endfor %}

            </tr>

            {% endfor %}

        {% endif %}

        </table>

        {% endif %}

    </div>

{% endif %}