{% extends "index.twig" %}

{% block content %}

  {{ fn('the_post') }}

  <div class="single-woo-product">

      <section class="{{ post.class }}">
        {% do action("woocommerce_before_single_product") %}
        <div class="row">

          {# THUMBNAIL and GALLERY #}
          <div class="col-12 col-md-5">
            <figure class="product-figure">
              {% do action("woocommerce_before_single_product_summary") %}
            </figure>
          </div>

          {# DESCRIPTION and BUY BUTTON #}
          <div class="col-12 col-md-7">
            <article>


              {#% if post._price > 0 %}
                {% do action("my_template_single_buy") %}
              {% endif %#}

              {% do action("woocommerce_single_product_summary") %}
              {% do action("woocommerce_after_single_product_summary") %}
            </article>
          </div>
      </section>

      {% do action("woocommerce_after_single_product") %}

      {# RELATED #}
      <!--section class="related-products">
        <h2>Related Products</h2>
        {#% do action("upsell_display") %#}
        {#% do action("output_related_products") %#}
      </section-->

    </div>

  </div>

{% endblock %}
