.readmore {
    height: 0;
    overflow: hidden;
    &.reveal-text {
        display: inline;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        // }
    }
}

#page-wrapper {
    width: 100%;
    position: relative;
}

#content, .single-woo-product {
    position: relative;
    padding: 150px 0;
    min-height: 670px;
    @include mq($max-width: $sm) {
        padding: 90px 0 10px;
    }
}

.container{
    @include mq($max-width: $sm) {
        min-width: 320px;
    }
}

.showmore {
    display: none;
    &.inline {
        display: inline;
    }
}

form .form-row {
    padding: 0;
    margin: 0 0 10px;
}

table.variations{
    tr{
        margin-bottom: 20px;
    }
    td.label{
        min-width: 70px;
        vertical-align: top;
        .swatchtitlelabel{
            font-family: 'Lato', sans-serif;
            font-weight: 600;
        }

    }
    td.value{

    }
}

.modal-dialog {
    max-width: 800px;
}
.modal-body {
    display: inline-grid;
    padding: 3em;
}

.jumbotron {
    padding: 0;
    background: transparent;
}

.list-group-item {
    position: relative;
    padding: 13px 0px 12px 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    border-radius: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    &:first-child {
        border-radius: 0;
    }
    &:last-child{
        border-radius: 0;
        border: 0;
    }
    &.active {
        font-weight: 900;
        z-index: 2;
        color: #fff;
        background-color: $brand;
        border-color: $brand;
    }
}

.tab-content{
    background: transparent;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    @include mq($max-width: $sm) {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
    }
   h5 {
        font-weight: 600;
        line-height: 1.45;
        font-size: 16px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        font-family: 'Lato', helvetica;
    }
}

.represented-cases{
    background: #FFF;
    padding: 10px 20px;
}

.why-us-list{
    //background: #FFF;
    .list-group-item {
        padding: 0.75rem 1.25rem;
        border-radius: 4px;
        border: 0;
        background-color: #f8f8f8;
        margin: 0 0 6px;
        span {
            font-size: 33px;
            line-height: 0;
            position: relative;
            top: 6px;
            margin-right: 4px;
        }
        &:hover{
            background-color: #f2f2f2;
        }
        &.active {
            font-weight: 900;
            z-index: 2;
            color: #fff;
            background-color: $brand;
            border-color: $brand;
        }
    }
}



.hero{
    position: relative;
    height: 100vh;
    min-height: 850px;
    overflow: hidden;
    &.single {
        height: 50vh;
        min-height: auto;
    }
    @include mq($max-width: $sm) {
        min-height: auto;
        padding-top: 60px;
    }
    .sponsor {
        color: #f2f2f2;
        font-family: helvetica;
        h3 {
            letter-spacing: 2px;
            font-size: 12px;
        }
    }
    img.logo {
        min-width: auto;
        min-height: auto;
        position: relative;
        max-width: 100px;
        margin-bottom: 20px;
        @include mq($max-width: $sm) {
            max-width: 75px;
        }
    }
    .event-details {
        background: #000;
        padding: 10px 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        &.passed {
            position: relative;
        }
        @include mq($max-width: $lg) {
            position: absolute;
            padding: 10px 0 10px;
        }
        @include mq($max-width: $sm) {
            min-width: 320px;
        }
    }
    .content-block {
        position: relative;
        z-index: 9;
        display: inline-grid;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        &.single {
            position: absolute;
            top: 0;
            bottom: 0;
            span {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
            }
        }
    }
    .article-h1 {
        position: absolute;
        bottom: 15px;
    }
    img {
        min-height: 100%;
        min-width: 1024px;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        /* Set up positioning */
        position: absolute;
        top: 0;
        left: 0;
    }
    //background: url('/wp-content/themes/Wildfire/img/carousel.jpg') center center no-repeat;
    h1{
        font-size: 50px;
        color: #fff;
        z-index: 9;
        @include mq($max-width: $sm) {
            font-size: 33px;
        }
    }
    .cta {
        max-width: 85%;
        display: flex;
        margin: 0 auto;
        @include mq($max-width: $sm) {
            max-width: 100%;
            font-size: 20px;
            display: block;
        }
    }
    h2 {
        font-weight: 700;
        letter-spacing: 0px;
        @include mq($max-width: $sm) {
            font-size: 20px;
        }
        &.telephone {
            float: left;
            @include mq($max-width: $sm) {
                float: none;
                margin-bottom: 10px;
            }
        }
        &.email {
            float: right;
            @include mq($max-width: $sm) {
                float: none;
            }
        }
    }
    h3 {
        font-weight: 600;
        letter-spacing: 0;
        margin-top: 10px;
        font-size: 22px;
    }
    ul, li {
        margin: 0;
        padding: 0;
    }
    li {
        margin-top: 15px;
        margin-left: 20px;
        @include mq($max-width: $sm) {
            font-size: 16px;
        }
    }
    hr {
        border-width: 1px;
        background: #333;
    }
    a {
        font-weight: 500;
    }
    .scrollTo{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0px;
        left: 0;
        z-index: 1;
        right: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.99) 0%, transparent 100%);
    }
}


#hero{
    font-family: "helvetica",sans-serif;

    h1, h2, h3 {
        color: #fff;
    }

    h1 {
        font-size: 65px;
        font-weight: 400;
        margin: 0;
        @include mq($max-width: $sm) {
            font-size: 40px;
        }
    }

    h2 {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        @include mq($max-width: $sm) {
            font-size: 18px;
        }

        &.event-title {
            font-size: 30px;
            @include mq($max-width: $sm) {
                font-size: 22px;
            }
        }
    }

    .scroll-button {
        float: right;
        @include mq($max-width: $sm) {
            float: none;
            display: inline-block;
        }
    }

    .chevron{
        top: 10px;
        left: -8px;
        position: relative;
        transition: all .2s;
        &:hover{
            top: 15px;
        }
    }
}

.text-overflow {
  width:250px;
  height:120px;
  display:block; 
  overflow:hidden;
  word-break: break-word;
  word-wrap: break-word;
}

.btn-overflow {
display: none;
text-decoration: none; 
}


.scroll-button {
    background: $brand;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    margin-right: 10px;
    float: none;
    transition: all .2s;

    @include mq($max-width: $lg) {
        margin: 0;
    }

    @include mq($max-width: $sm) {
        font-size: 12px;
        margin: 10px 0 0;
        margin-right: 10px;
    }

    &:hover, &:active, &:focus {
        background: lighten($brand, 15%);
        color: #FFF;
    }
}

.register-button {
    background: green;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    float: right;
    transition: all .2s;

    @include mq($max-width: $lg) {
        margin: 0 0 10px;
    }

    @include mq($max-width: $sm) {
        font-size: 12px;
        margin: 10px 0 0;
            float: none;
            display: inline-block;
    }

    &:hover, &:active, &:focus {
        background: lighten(green, 15%);
        color: #FFF;
    }
}

.cta-button {
    background: $brand;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    transition: all .2s;
    &:hover {
        color: #FFF;
        background: lighten($brand, 15%);
    }
}

.badge-primary {
    color: #fff;
    background-color: #0abb0a;
    padding: 5px 13px;
    margin: 10px auto 20px;
    display: table;
}

a h2.card-title {
    
}

a.read-more {
    font-weight: 500;
    font-size: 16px;
    top: 8px;
    text-decoration: underline;
    position: relative;
    &:active, &:hover {
        text-decoration: underline;
    }

}
a.read-more.reveal {
    font-weight: 500;
    font-size: 16px;
    top: 8px;
    text-decoration: underline;
    position: relative;
    &:active, &:hover {
        text-decoration: underline;
    }
}

.card-img-overlay{
    transition: all .2s;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

// .card-img-top {
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
// }

.card {
    background: #FFF;
    h4.card-header {
        background: $brand;
        color: #fff;
        font-size: 18px;
        margin: 0;
        /* text-transform: uppercase; */
        letter-spacing: 0px;
        text-align: center;
    }
    img.rounded-circle {
        max-width: 180px;
    }
    img{
        //max-width: 200px;
        margin: 0 auto;
        text-align: center;
        float: none;
        display: block;
    }
    @include mq($max-width: $sm) {
        margin-bottom: 15px;
    }
    h5{
        color: #333;
        font-weight: 600;
    }
}

.card-body{
    //padding: 0;
}

.rsDefaultInv .rsBullets {
    position: absolute;
    bottom: -25px;
}

.page-template-template-lookbook #content{
    padding: 80px 0 0;
}

.cspio h1 {
    font-family: 'Lato', helvetica;
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include mq($max-width: $sm) {
        font-size: 36px;
    }
}
#cspio-content{
    @include mq($max-width: $sm) {
        padding: 10px;
    }
}
#cspio-page{
    text-align: center;
}

.gform_wrapper form {
    margin-bottom: 50px;
}

.gform_footer {
    display: inline-block;
    width: 20%;
    font-size: 20px;
    border: 0;
    input.gform_button{
        display: block;
        font-family: 'Lato', sans-serif;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        border: 0;
        border-radius: 0;
        background: rgba(254, 84, 66, 0.81);
        color: #fff;
        transition: all .2s;
        &:hover{
            background: darken(rgba(254, 84, 66, 0.81), 5%);
            cursor: pointer;
        }
    }
    @include mq($max-width: $sm) {
        width: 100%;
        border: 0;
        margin-top: 10px;
    }
}

.gform_body {
    width: 78%;
    float: left;
    font-size: 20px;
    border: 0;
    @include mq($max-width: $sm) {
    width: 100%;
    }
    input, input.medium{
        font-family: 'Lato', sans-serif;
        display: block;
        width: 97%;
        margin-bottom: 12px;
        font-size: 20px;
        padding: 10px;
        border-radius: 0;
        min-height: 48px;
    }
    input#input_1_1 {
        width: 98.5%;
    }
    label {
        display: block;
        margin-bottom: 0;
        position: absolute;
        right: 30px;
        top: 12px;
        color: $brand;
    }
    form, li, ul {
        list-style: none;
    }
    li{
        float: left;
        position: relative;
        width: 100%;
    }
}

.gform_wrapper li{
    margin: 0;
}

ul.sub-menu.wpmenucart {
    background: #fff;
    position: absolute;
    right: 0;
    width: 330px;
    padding: 10px;
}



nav.top-menu{
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li{
        float: left;
    }
    .wpmenucart {
        text-align: left;
    }
    .wpmenucart-thumbnail img{
        width: 50px;
    }
}

div.wpmenucart-shortcode ul li {
    float: none;
    padding: 10px;
}



.wpmenucart-shortcode {
    padding: 27px 35px 0 0;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 114px;
    padding: 7px 7px 7px;
    line-height: 1;
}

.woocommerce span.onsale {
    padding: 0;
    background-color: $brand;
}

a.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 5px;
    right: 25px;
    left: auto;
    bottom: 9px;
    z-index: 9;
}

.woocommerce .woocommerce-result-count {
    margin: 10px 0 0;
}

input.btn.btn-outline-primary {
    margin-right: 15px;
}

span.price {
    margin: 0px 0 17px;
    display: inline-block;
}

// .woocommerce.orient, .single-woo-product{
//     padding-top: 160px;
//     padding-bottom: 50px;
// }

button{
    border-radius: 0;
}

.woocommerce button.button.alt{
    border-radius: 0;
    background-color: $brand;
    &:hover{
        background-color: darken($brand, 15%);
    }
}

.quantity .qty {
    width: 3.631em;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-top: -1px;
}

.product_meta{
    display: inline-grid;
}

.woocommerce table.shop_attributes{
    margin: 10px 0 5px;
}

// .shop-title,
// .single-woo-product,
// .woocommerce-MyAccount-content,
// .woocommerce-MyAccount-navigation {
//     padding-top: 130px;
// }

.single-woo-product,
.woocommerce-MyAccount-content,
.woocommerce-MyAccount-navigation {
    padding-bottom: 50px;
}

.woocommerce-breadcrumb{
    width: 100%;
}
.woocommerce-message {
    width: 100% !important;
}

// .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{
//     float: none;
// }
// .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
//     float: none;
// }

article {
    // background: #fff;
    // padding: 10px;
    min-height: 300px;
}

h1{
    // font-size: 2em;
    @include mq($max-width: $sm) {
        font-size: 40px;
        margin-bottom: 15px;
    }
}


h1,
h2,
h3,
h4,
h5 {
    &.serif{
        font-family: helvetica,sans-serif;
    }
}


p{
    color: #515151;
}

ul.social{
	float: right;
    padding: 0;
    margin: 0 0 0 0;
    @include mq($max-width: $sm) {
        float: none;
        margin: 20px 0 0 0;
    }
	li{
		list-style: none;
	}
}

h2.heading{
    color: $brand;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.sub-footer{
    font-size: 12px;
    padding: 10px 0;
    color: #aaa;
}

.btn{
    border-radius: 0;
}

.btn.buy-now{
    background: #f2f2f2;
    border: 2px solid $brand;
    border-radius: 0;
    color: $brand;
    transition: all .2s;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    &:hover{
        cursor: pointer;
        background: $brand;
        color: #fff;
    }
}


#content{
	background-color: transparent;
    h3{
        margin-top: 0;
        margin-bottom: 20px;
        @include mq($max-width: $sm) {
            margin-top: 25px;
        }
    }
	p{
		//font-size: 20px;
	}
}



#contact{
    padding: 20px 0;
    a {
        color: #0d90cc;
    }
    .right-menu{
        padding: 16px 0 0;

        a{
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 16px;
            /* color: #000; */
            border: 3px solid $brand;
            border-radius: 4px;
            padding: 4px 10px 2px;
            transition: all .2s;
            background: $brand;
            color: #fff;
            // &:hover,
            // &:focus {
            //     background: transparent;
            //     color: $brand;
            // }

            @include mq($max-width: $sm) {
                font-weight: 500;
                letter-spacing: 0px;
                font-size: 20px;
            }

        }

        @include mq($max-width: $sm) {
            padding: 15px 0 10px;
        }

    }

}

.rsContent h1{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $brand;
    &.j-drain{
        color: #fff;
    }
    &.servane{
        color: #6da6ff;
    }
}

.sb_instagram_header, #sb_instagram #sbi_load{
    display: none !important;
}

#artists{
	// .contain{
	// 	position: relative;
	// 	.gutz{
	// 		position: absolute;
	// 		top: 50%;
	// 		height: 100px;
	// 		margin-top: -50px;
	// 	}
	// }
	#content{
    @include mq($max-width: $xs) {
			background-color: transparent;
		}
	}
	.row.alt:nth-child(odd){
		background: transparent;
    @include mq($max-width: $xs) {
			background-color: transparent;
		}

	}

    .row.alt {
        background-color: transparent;
        @include mq($max-width: $xs) {
    		background-color: transparent;
    	}

    }

	h2{
		margin: 0 0 15px;
	    font-weight: 300;
	    color: #FE5442;

	}
}

.nav-link {
    padding: 0;
    margin: 0;
}
.nav-pills {
    padding: 0;
    margin: 0;
    &.active{
        // background: transparent;
        color: $brand;
    }
    @include mq($max-width: $sm) {
        padding: 5px 0 10px;
    }
    .dropdown-menu{
        background: $brand;
        border: 0;
        border-radius: 6px;
        padding: 10px;
        margin-top: 18px;
        text-transform: initial;

        > a.dropdown-item {
            letter-spacing: 0;
            padding: 10px;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            border-radius: 6px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($max-width: $sm) {
                font-size: 14px;
            }

            &:hover{
                background: $navy;
            }
        }

        &:before{
            content: "";
            position: absolute;
            top: -13px;
            right: 70px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $brand;

            @include mq($max-width: $sm) {
                right: 30px;
            }
        }
    }
}


nav.nav-desktop{
    img{
        max-width: 20px;
        height: auto;
        position: relative;
        top: -3px;
        margin-right: 10px;
    }
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {

        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        float: left;
        text-transform: uppercase;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    a {
        color: #fff;
        &:hover{
            color: #f2f2f2;
        }
    }
}

#testimonials {
    background: #eaecef;
    padding: 0px 0 60px;
    .carousel {
        background: #fff;
        border-radius: 4px;
        padding: 60px 60px 80px;
        @include mq($max-width: $sm) {
            padding: 30px 30px 50px;
        }
        .carousel-indicators {
            //background: red;
            li {
                background: $brand;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                &:hover {
                    cursor: pointer;
                }
                &.active {
                    background: $navy;
                }
            }
        }
        p {
            font-size: 18px;
        }
    }
    span{
        display: block;
        padding: 10px 0;
        //background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, transparent 100%);
    }
}

#faq {
    background: $navy;
    padding: 0px 0 60px;
    .card {
        border: 0;
        border-radius: 0;
        margin-bottom: 10px;
    }
    .card-header {
        border-radius: 0;
        background: $brand;
        h5 {
            color: #fff;
            font-family: "abril-fatface",serif;
            font-weight: 900;
            margin-bottom: 0;
        }
    }
    span{
        display: block;
        padding: 10px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    }
    h1 {
        color: #fff;
    }
}


#team {
    background: $navy;
    h1 {
        color: #fff;
    }
    span{
        display: block;
        padding: 10px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        &.readmore{
            display: inline;
            background: none;
            padding: 0;
        }
    }
}

.card {
    @include mq($max-width: $sm) {
        margin: 0 0 15px;
    }
}


#experience {
    .card {
        img{
            display: block;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
        }
        h4{
            color: #fff;
            font-weight: 900;
            width: 100%;
        }
    }
}

#experience {
    padding: 80px 0 50px;
    @include mq($max-width: $sm) {
        padding: 50px 0;
    }
}

.contact-hero {
    background: rgba(255, 255, 255, 0.51);
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 20px;
    border-radius: 4px;
    h2{
        margin: 0;
        padding: 0;
    }
}

#town-halls {
    background: #eaecef;
    padding: 50px 0 50px;
    @include mq($max-width: $sm) {
        padding: 50px 0;
    }
    .jumbotron {
        padding: 20px;
        margin: 30px 0;
        background: $navy;
    }
    strong{
        font-size: 20px;
        color: #333;
    }
    .card {
        border: 0;
    }
    .card-header {
        background: $brand;
        color: #fff;
    }
    h2{
        color: #fff;
        font-family: "abril-fatface",serif;
        font-weight: 900;
        margin-bottom: 0;
    }
    .attend {
        ul {
            padding: 0;
            margin: 40px 0 50px;
            @include mq($min-width: $xs) {
                margin: 0;
            }
            @include mq($min-width: $lg) {
            margin: 40px 0 50px;
            }
        }
        li {
            margin: 0 0px 5px 17px;
        }
    }
}

#agenda {
    background: #22252a;
    color: #fff;
    padding: 50px 0;
    p{
        color: #fff;
    }
    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}

#past-events {
    background: #fff;
    color: #000;
    padding: 50px 0;
    p{
        color: #000;
    }
    a {
        color: #333;
        font-weight: 600;
        &.read-more {
            color: #0d90cc
        }
    }
}
#lecturer {
    background: #f5f5f5;
    padding: 50px 0;
    .card {
        max-width: 350px;
        min-width: 350px;
        margin-bottom: 30px;
        @include mq($max-width: $sm) {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.article-body a.register-button {
    background-color: #7bc143;
    border: 1px solid #73b240;
    border-top-width: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: -moz-inline-block;
    display: inline-block;
    zoom: 1;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1em;
    text-shadow: 0 1px 1px #519a14;
    padding: 14px 15px;
    margin-bottom: 10px;
    float: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background: darken(#7bc143, 15%);
    }
}

#single {
    .card {
        max-width: 350px;
        min-width: 350px;
        margin-bottom: 30px;

        @include mq($max-width: $sm) {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.table td {
    @include mq($max-width: $sm) {
        padding: 0.75rem 0;
    }
}


#single{
    padding: 100px 0 50px;
    background: #fff;
    #content{
        background-color: transparent;
        padding: 25px 0 0;
    }
    p{
        line-height: 1.5;
    }
}


#about-event{
    padding: 50px 0;
    background: #eaecef;
    #content{
        background-color: transparent;
        padding: 25px 0 0;
    }
    p{
        line-height: 1.5;
    }
}


#about-us{
    background: #fff;
    padding: 50px 0;
}

#about-cybersecurity {
    padding: 50px 0;
    background: #eaecef;
}

.gutz {
    font-size: 17px;
}

.even {
    .content-block{
    	float: right;
	    padding: 0px 60px 0px 40px;
	    @include mq($max-width: $xs) {
            padding: 15px 15px 0;
		}
    }
    img{
		max-width: 100%;
        float: left;
        height: auto;
        padding: 0;
	    @include mq($max-width: $xs) {
			max-width: 100%;
            padding: 0;
		}

    }
}


.odd {
    @include mq($max-width: $xs) {
		display: block;
	}
    .content-block{
    	float: left;
	    padding: 0px 40px 40px 15px;
	    @include mq($max-width: $xs) {
    		padding: 15px 15px 0;
		}
    }
    img{
		max-width: 100%;
        float: right;
        height: auto;
        padding: 0;
	    @include mq($max-width: $xs) {
			max-width: 100%;
		    padding: 0;
		}

    }
}


.post{
	margin-top: 10px;
	padding-bottom: 15px;
	display: inline-block;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    .contain {
        margin-top: 20px;
    }
	.col-alt-content{
			min-height: 500px;
			overflow: hidden;
	}
	.col-alt-image{
		img{
			max-width: 100%;
			height: auto;
			max-height: 500px;
			overflow: hidden;
		}
	}
}

a{
	color: $secondary ;
	font-weight: 600;
	&:hover{
		color: darken($secondary, 15%);
		text-decoration: none;
        cursor: pointer;
	}
	&:focus{
		color: darken($secondary, 15%);
		//text-decoration: none;
		outline: none;
	}
	&:active{
		color: darken($secondary, 15%);
		//text-decoration: none;
	}
}

:focus{
		outline: none !important;
	}

.logo-overlay {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: .4;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-blend-mode: overlay;
}

#headpad{
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 999999;
}

#headpad.padding {
    padding-right: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.scrolltoggle.scrollpadding {
    margin-top: 200px;
}

.woocommerce-message {
    border-top-color: $brand;
    &:before{
        color: $brand;
    }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    border: 1px solid $brand;
    background-color: transparent;
    color: $brand;
    border-radius: 0;
    &:hover{
        background-color:$brand;
        color: #fff;
    }
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
    @include mq($max-width: $sm) {
        float: left;
        margin: 10px 0 15px;
    }
}

select.custom-select {
    background: #fff;
    @include mq($max-width: $sm) {
        background: #fff;
    }
}


.dropdown-item.active, .dropdown-item:active{
    background-color: $brand;
}


.btn-primary, .show > .btn-primary.dropdown-toggle{
    background-color: $brand;
    border-color: $brand;
    &:hover{
        border-color: lighten($brand, 15%);
        background-color: lighten($brand, 15%);
    }
    &:focus{
        color: #fff;
    }
}



.btn-primary{
    background-color: $brand;
    border-color: $brand;
    color: #fff;
    &:hover{
        background-color: darken($brand, 10%);
        color: #fff;
    }
    &:active{
        background-color: $brand;
        color: #fff;
        border-color: $brand;
    }
    &:focus{
        box-shadow: 0 0 0 3px lighten($brand, 25%);
    }
}

.btn-primary.disabled, .btn-primary:disabled{
    background-color: transparent;
    border-color: $brand;
    color: $brand;
    // &:hover{
    //     border-color: lighten($brand, 15%);
    //     background-color: $brand;
    //     color: #fff;
    // }
    // &:active{
    //     background-color: $brand;
    //     color: #fff;
    //     border-color: $brand;
    // }
    // &:focus{
    //     box-shadow: 0 0 0 3px lighten($brand, 25%);
    // }
}



.btn-outline-primary, .btn-outline-primary.disabled, .btn-outline-primary:disabled{
    border-color: $brand;
    color: $brand;
    &:hover{
        border-color: lighten($brand, 15%);
        background-color: $brand;
        color: #fff;
    }
    &:active{
        background-color: $brand;
        color: #fff;
        border-color: $brand;
    }
    &:focus{
        box-shadow: 0 0 0 3px lighten($brand, 25%);
    }
}

body.single {
    header.banner {
        background: $brand;
        height: 60px;
        &.shrink{
            height: 42px;
        }
    }
}

header.banner {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: transparent;
    height: 49px;
    width: 100%;
    text-align: center;
    padding: 0;
    transition: all .2s;
webkit-backface-visibility:hidden;
webkit-transform: translate3d(0, 0, 0);
-moz-backface-visibility:hidden;
    .site-title {
        color: #fff;
        float: left;
        padding: 10px 15px;
    webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
    webkit-transform: translate3d(0, 0, 0);
        h1 {
            // font-family: helvetica;
        }
    }

    h1{
        color: #FFF;
        font-size: 34px;
        transition: all .2s;
        display: inline-block;
        font-weight: 600;
        letter-spacing: 0px;
        padding: 25px 15px;
        text-transform: uppercase;
        position: relative;
        left: -28px;
        font-family: helvetica;
        &:before {
            content: "";
            display: inline-block;
            height: 26px;
            width: 2px;
            bottom: -1px;
            background: #FFF;
            position: relative;
            right: 20px;
        }
    }

    @include mq($max-width: $sm) {
        display: block;
        align-items: initial;
        position: fixed;
        height: 65px;
    }

    .logo{
        img{
            max-width: 250px;
            text-align: left;
            transition: all .2s;
            right: 15px;
            top: 10px;
            position: fixed;
            @include mq($max-width: $sm) {
                max-width: 215px;
                right: 10px;
                top: 10px;
                position: absolute;
            }
        }
    }

    .nav-desktop {
        position: relative;
        top: 30px;
        transition: all .2s;
    }

    &.shrink{
        height: 42px;
        background-color: $brand;

        .site-title {
            padding: 5px 15px;
        }

        h1{
            color: #FFF;
            font-size: 28px;
            transition: all .2s;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 0px;
            padding: 15px;
            text-transform: uppercase;
            font-family: helvetica;
            &:before {
                content: "";
                display: inline-block;
                height: 22px;
                width: 2px;
                bottom: -1px;
                background: #FFF;
                position: relative;
                right: 20px;
            }
        }

        .nav-desktop {
            position: relative;
            top: 18px;
        }

        .logo {

            img{
                max-width: 220px;
                transition: all .2s;
                top: 3px;
            }
        }

        .right-menu{
            padding: 16px 30px 0;

            a{
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 16px;
                /* color: #000; */
                border: 3px solid $brand;
                border-radius: 4px;
                padding: 4px 10px 2px;
                transition: all .2s;
                background: $brand;
                color: #fff;
                // &:hover,
                // &:focus {
                //     background: transparent;
                //     color: $brand;
                // }

                @include mq($max-width: $sm) {
                    font-weight: 500;
                    letter-spacing: 0px;
                    font-size: 12px;
                }

            }

            @include mq($max-width: $sm) {
                padding: 15px 0 10px;
            }

        }
    }
    .btn{
        padding: 0 1.5rem 0;
        @include mq($max-width: $xs) {
            padding: 0.8rem 1.5rem 0;
        }
    }
    .right-menu{
        padding: 23px 30px 0;
        a{
            font-weight: 700;
            letter-spacing: 3px;
            font-size: 20px;
            /* color: #000; */
            border: 3px solid $brand;
            border-radius: 4px;
            padding: 4px 10px 2px;
            transition: all .2s;
            &:hover, &:focus{
                background: $brand;
                color: #fff;
            }
            @include mq($max-width: $sm) {
                font-weight: 500;
                letter-spacing: 0px;
                font-size: 20px;
            }

        }
        @include mq($max-width: $sm) {
            padding: 15px 0 10px;
        }

    }
}

.headroom--not-top{
    // position: absolute;
    // top:0;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}
.right{
    float: right;
}




button.navbar-toggler {
    height: 40px;
    width: 40px;
    border: 0px solid;
    font-size: 1.5rem;
    border-radius: 50%;
}

#myBlock{
	//background: url(../images/vid.jpg)no-repeat;
	z-index: 0;
	position: relative;
	height: 100vh;
    @include mq($max-width: $xs) {
		margin-top: 0px;
    }
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 60px 20px;
}

.navbar-toggler {
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}


