{% extends "base.twig" %}

{% block body_class %}custom{% endblock %}

{% block content %}


    <div id="about">
        {% include 'templates/about.twig' %}
    </div>

    <!--div id="artists">
        {#% include 'templates/artists.twig' %#}
    </div-->

{% endblock %}