{% extends "base.twig" %}

{% set flex_blocks = flexblock %}

{% block content %}

<div id="single">

    <div class="container">

        <h2 class="section-title mb-4 ml-5">News <i class="fa fa-chevron-right"></i></h2>

        <div class="card-deck mb-4">

        {% for post in posting %}

            <div class="card">

                {% include ['./partial/tease.twig'] %}

            </div>

        {% endfor %}

        </div>

        {% include ['./partial/pagination.twig'] %}

    </div>

</div>

{% endblock %}