{% extends "base.twig" %}

{% set flex_blocks = flexblock %}

{% block content %}

<div id="single">

    <div class="container">

        <div class="content">

            <h2>{{ post.name }}</h2>
            <span>{{ post.date }}</span>
            <hr class="mt-2 mb-5"></hr>

            {{ post.content }}

        </div>


    </div><!-- /.container -->

    <p><br></p>

</div>

{% endblock %}