{% extends "base.twig" %}

{% set flex_blocks = flexblock %}

{% block content %}

<div id="single">

    <div class="container">

        <div class="content">

            <h2 class="section-title">{{ post.name }}</h2><br>
            <span>{{ post.date }}</span>

            {{ post.content }}

        </div>


    </div><!-- /.container -->

    <p><br></p>

</div>

{% endblock %}