//colors
// $primary-navy: #002655;
// $primary-yellow: #d8b736;

// $secondary-navy: #014c8c;

// $light-yellow: #f8eeca;
// $light-blue: #d6dce6;

//colors
$brand: #57068C;
$secondary: #0d90cc;
$tertiary: #26053B;
$nyu-medium-light-violet: #9A69BA;
$nyu-light-violet: #C4A8D6;
$nyu-extra-light-violet: #D8CDE0;

$dark-grey: #686868;
$medium-grey: #ccc;
$light-grey: #f1f1f1;

$navy: #263361;