<footer class="site">

        <div id="contact">

            {% include 'templates/contact.twig' %}

        </div>
</footer>

<div class="container">

    <div class="col sub-footer">

        <span>All Right Reserved © NYU Tandon School of Engineering {{ "now"|date("Y") }}</span>

    </div>
</div>

