<a href="#menu-toggle" class="menu" id="menu-toggle">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</a>