<header id="banner" class="banner">

    <div class="container-fluid">
        <div class="row">

            <div class="col-3 col-lg-7">
                <div class="site-title">
                <a href="/"><h1 class="d-none d-sm-none d-md-none d-lg-none d-xl-inline"><span>{{ site.title }}</span> </h1></a>
                {% include 'templates/hamburger.twig' %}
                </div>
            </div>

            <div class="col-9 col-lg-5">
                <div class="logo">
                    <a href="http://engineering.nyu.edu"><img src="{{ theme.link }}/img/logo.png" alt="" class="w-100" targer="_blank"></a>
                </div>
            </div>

        </div>
    </div>

</header>

