<div id="hero">

    <div class="hero single d-flex ">

        <div class="content-block single">

        	<span>

	        	<div class="container">
	        		<div class="article-h1">
	                <h1>{{ post.title }}</h1>
	                <h2><strong>{{ lecturetitle }}</strong></h2>
	                </div>
	            </div>

            </span>

        </div>

        <img class="w-100" src="{{ Image(lectureheroimage).src }}" alt="">

    </div>

</div>