{% if speaker %}
<div id="lecturer">
	<span>
		<div class="container">

			<h1 class="text-left text-capitalize mb-5">Speakers</h1>

		</div>

		<div class="container">

			<div class="card-deck">

            {% include 'blocks/speaker-card.twig' %}

			</div>

		</div>

	</span>
</div>
{% endif %}