<div id="testimonials">
 	<span>
		<div class="container">

			<h1 class="text-center text-capitalize my-5">Testimonials</h1>

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner">

				    <div class="carousel-item active">
						<blockquote class="blockquote text-left">
							<p class="mb-0">
			    				“I had a wrongful death case involving my late husband. In July of 2013, I was notified that trial was set for September. The defendant had offered nothing. It was at that time that Dave Fox entered in as the lead trial lawyer for my case. At first, I had concerns of having a new lawyer assigned five months prior to the trial date. A dozen questions went through my mind; Will he be prepared? Will he be sensitive to my situation? Will he understand how emotionally draining this has been for everyone over the last 7 years? I have to say that my Angel was watching over me when Dave Fox stepped into my life! From the moment we first spoke, I knew he cared about our family and getting justice. Not only was he prepared for this case, but his professional manner and personality could not have been a better fit. He was hard working, sensitive, compassionate, genuine, and impressive in the Court room. He worked tirelessly through nights and even weekends to get us ready, and his efforts showed through a verdict of 100% liability against the defendant which then led to our $5M settlement! Dave Fox is a lawyer you can trust!”
							</p>
						<footer class="blockquote-footer"><cite title="Source Title">Lori Nunez</cite></footer>
				    </div>

				    <div class="carousel-item">
						<blockquote class="blockquote text-left">
							<p class="mb-0">
			    				“Dave Fox was referred to me by another attorney friend I had. He told me it would be a hard fought case. Dave and his team took over 30 depositions, worked extremely hard, and put together a strong case. Dave and his team were always available to answer questions. We ultimately settled the case for $2,500,000 close to the trial date. The money will really help me and my family in the future. I would recommend Dave and his team. They did a fantastic job and it was wonderful working with them. They’re good people to have on your side.”
							</p>
						<footer class="blockquote-footer"><cite title="Source Title">Timothy Fitesemons</cite></footer>
				    </div>

				    <div class="carousel-item">
						<blockquote class="blockquote text-left">
							<p class="mb-0">
			    				“Dave and his staff worked hard to get the best settlement and I will recommend him to family and friends.”
							</p>
						<footer class="blockquote-footer"><cite title="Source Title">M. Wellborn</cite></footer>
				    </div>

				    <div class="carousel-item">
						<blockquote class="blockquote text-left">
							<p class="mb-0">
			    				"I would recommend Elliot Adler to anybody… He knows the legal system, and the people within it respect and trust him."
							</p>
						<footer class="blockquote-footer"><cite title="Source Title">Dr. Robert Terry</cite></footer>
				    </div>

				    <div class="carousel-item">
						<blockquote class="blockquote text-left">
							<p class="mb-0">
			    				"Elliot Adler understood what I was going through after I lost my home, and he was there for me every step of the way through the recovery process."
							</p>
						<footer class="blockquote-footer"><cite title="Source Title">Vince Costa</cite></footer>
				    </div>

				</div>
			</div>

		</div>

	</span>
</div>