<div class="container">

    <div id="contact">

        <div class="row no-flex">

            <div class="col-6 col-sm-3">

                <div class="center logo mt-2">

                    <a href="/"><img src="{{ theme.link }}/img/logo.png" alt="" class="w-100"></a>

                </div>

            </div>

            <div class="col-6 col-sm-9">

                <div class="float-right mt-2">

                {% include 'partial/socialmedia.twig' %}

                </div>

            </div>

        </div>

        <p></p>

        <div class="row">

        	<div class="col-12 col-lg-4">

                {% if footerleftblock %}

                <p>{{ footerleftblock }}</p>

                {% endif %}

            </div>

            <div class="col-12 col-lg-5">

                {% if footercenterblock %}

                {{ footercenterblock }}

                {% endif %}

            </div>

        	<div class="col-12 col-lg-3">

        		<div class="text-right">

                    {% if footerrightblock %}

        			<p>{{ footerrightblock }}</p>

                    {% endif %}

        		</div>

        	</div>

        </div>

    </div>

</div>