<div id="faq">
    <span>
        <div class="container">

                <h1 class="text-center text-capitalize my-5">Frequently Asked Questions</h1>

                <div id="accordion" role="tablist">

                    <div class="card">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="card-header" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                  Why Do I Need An Attorney?
                              </h5>
                            </div>
                        </a>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body lead">
                            When utility companies and their contractors wrongfully cause a fire and harm to others they often use their tremendous resources to  fight hard in minimizing payouts to anyone who suffers a loss. Seasoned wild fire attorneys fight for you to prove the corporation is responsible and to establish the true value of your losses, including your annoyance and discomfort from this devastating event. We hire experts in fire investigation, hydrology, metallurgy, erosion, rebuilding costs, tree valuation, and personal property valuation. Working together with these experts we have the ability to reimburse you for your losses beyond what any insurance or government assistance may cover.
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                  Do I Need To Pay An Attorney To Help Me?
                              </h5>
                            </div>
                        </a>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body lead">
                            You do not pay us a dime out of pocket. We are paid by an agreed upon percentage from any recovery we obtain on your behalf. We advance all costs of the case on your behalf, and you do not pay anything unless we recover money for you.
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="card-header" role="tab" id="headingThree">
                              <h5 class="mb-0">
                                  If I Have Insurance Why Should I Join?
                              </h5>
                            </div>
                        </a>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body lead">
                            You may be underinsured for this incident or your insurance company may deny the full value you believe you are entitled to recover. Insurance companies also often do not provide reimbursement for the annoyance and discomfort you have experience. As a result, we fight to ensure those responsible for causing the fire pay the difference and ensure you are fully compensated for the loss that you suffered.
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <div class="card-header" role="tab" id="headingFour">
                              <h5 class="mb-0">
                                  What If I Do Not Have Insurance?
                              </h5>
                            </div>
                        </a>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body lead">
                            We help uninsured homeowners and renters. California law permits recovery for both uninsured and insured victims. If the fire was caused by a company’s negligent or careless action and you were harmed, then you are entitled to be reimbursed and we will work tirelessly for that reimbursement.
                          </div>
                        </div>
                    </div>

                </div>

        </div>
    </span>
</div>