<header id="banner" class="banner {% if alerttrue == "true" %}if_alert{% endif %}">

    {% include 'partial/alert.twig' %}

    <div class="site-title">

        {% include 'templates/hamburger.twig' %}

        <a href="{{ site.link }}">

            <h1 class="d-none d-sm-none d-md-none d-lg-none d-xl-inline-block">

                <span>{{ site.title }}</span>

            </h1>

        </a>

        {#% include 'partial/socialmedia.twig' %#}

    </div>

    <div class="logo">

        <a href="http://engineering.nyu.edu"><img src="{{ theme.link }}/img/logo.png" alt="" class="w-100" targer="_blank"></a>

    </div>

</header>