{% if alerttrue == "true" %}

    <div id="topAlert" class="alert alert-warning alert-dismissible fade show text-center my-0" role="alert">

        {{ alert|striptags('<a>') }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

            <a href="#0" aria-hidden="true" class="text-dark">&times;</span></a>

        </button>

    </div>

{% endif %}

<header id="banner" class="banner {% if alerttrue == "true" %}if_alert{% endif %}">

    <div class="site-title">

        <a href="{{ site.link }}">

            <h1 class="d-none d-sm-none d-md-none d-lg-none d-xl-inline">

                <span>{{ site.title }}</span>

            </h1>

        </a>

        {% include 'templates/hamburger.twig' %}

    </div>

    <div class="logo">

        <a href="http://engineering.nyu.edu"><img src="{{ theme.link }}/img/logo.png" alt="" class="w-100" targer="_blank"></a>

    </div>

</header>

