<ul class="main-menu">

    {% if aboutsection =='true' %}

    <li>

        <a href="#hero" class="anchor">
            Home
        </a>

    </li>

    <li>

        <a href="#about" class="anchor">
            About
        </a>

    </li>

    {% endif %}

    {% for block in flex_blocks %}

    {% set anchor = block.block_title ~ '-' ~ loop.index %}

   <li>

        <a href="#{{ anchor|sanitize }}" class="anchor">
            {{ block.block_title }}
        </a>

    </li>

    {% endfor %}

</ul>