$brand: #57068C;
$secondary: #3a78a2;

$nyu-dark-violet: #26053B;
$nyu-medium-light-violet: #9A69BA;
$nyu-light-violet: #C4A8D6;
$nyu-extra-light-violet: #D8CDE0;

$dark-grey: #686868;
$medium-grey: #ccc;
$light-grey: #f1f1f1;

$navy: #263361;