 {% if socialmedia %}

  <div class="socialmedia">

      {% for item in socialmedia %}

          {% if item.service == 'Facebook' %}

              <a href="{{ item.url }}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
              </a>

          {% endif %}

          {% if item.service == 'Twitter' %}

              <a href="{{ item.url }}" target="_blank">

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>

              </a>

          {% endif %}

          {% if item.service == 'Instagram' %}

              <a href="{{ item.url }}" target="_blank">

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>

              </a>

          {% endif %}

          {% if item.service == 'Linkedin' %}

              <a href="{{ item.url }}" target="_blank">

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>

              </a>

          {% endif %}

      {% endfor %}

  </div>

  {% endif %}