{% if post.thumbnail.src %}

    <img src="{{post.thumbnail.src|resize(500, 500, 'center') }}"/>

{% endif %}

<div class="card-body">

    <h2 class="serif mt-0 mb-3 text-left">
        <a href="{{ function('get_permalink', post.ID) }}">{{ post.post_title }}</a>
    </h2>

    <div class="read-more text-left">

    {% set text = post.post_content|split(' ') %}

    {% if text|length > 50 %}

        {% for shorttxt in text|slice(0, 50) %}

            {{ shorttxt }}

        {% endfor %}

        <span class="elipsis">...</span>

        <!--div>
            <a href="{#{ function('get_permalink', post.ID) }#}">
              Read More
            </a>
        </div-->

    {% endif %}

    </div><!-- /.read-more -->

</div><!-- /.card-body -->
